<main class="main-content login-page" id="mainContent">
    <div class="form-container">
        <h2>Register</h2>

        <% if (error) { %>
            <p class="message error">
                <%= error %>
            </p>
            <% } %>

                <form action="/register" method="POST" class="upload-form">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <div class="form-group button-wrapper">
                        <button type="submit" class="submit-button">Register</button>
                    </div>
                </form>

                <p style="text-align: center;">Already have an account? <a href="/login">Login here</a>.</p>
    </div>
</main>