<div class="container home-content">
    <h1>Welcome to the 3D AR Model Platform!</h1>
    <p>Host, manage, and share your 3D models with Augmented Reality capabilities.</p>
    <div class="call-to-action">
        <a href="/register">Get Started - Register Now!</a>
    </div>
    <p>Already have an account? <a href="/login">Login here</a>.</p>
</div>